training:
  experiment_name: "train-prod"
  display_name: "train-prod-run"
  models:
  - "xgboost"
  class_weight: "balanced"
  random_state: 42
  use_smote: "true"
  hyperparameters:
    logreg:
      C: 1.0
      max_iter: 1000
      solver: "lbfgs"
    rf:
      n_estimators: 100
      max_depth: 6
      min_samples_split: 2
      min_samples_leaf: 1
      max_features: "sqrt"
    xgboost:
      n_estimators: 200
      max_depth: 5
      learning_rate: 0.05
      subsample: 1
      colsample_bytree: 0.6
